/* @import url("http://img.gettimeblocks.com/store/font/hycute.ttf"); */

@font-face {
	font-family: "test";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
		format("woff");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "JalnanOTF00";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
		format("woff");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NanumBrush";
	src: url("https://cdn.jsdelivr.net/gh/miiusoft/font/Nanum/NanumBrush.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "godoMaum";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "test";
}

div {
	/* font-family: "test"; */
	font-size: 50px;
}
p {
	font-size: 15px;
}

.JalnanOTF00 {
	font-family: "JalnanOTF00" !important;
}
.NanumBrush {
	font-family: "NanumBrush" !important;
}
.godoMaum {
	font-family: "godoMaum" !important;
}
